body {
  color: #CB0FFF;
  font-family: 'Papyrus';
  background-image: url("https://www.filterforge.com/filters/11135-v6.jpg");
  background-size: 100px;
  cursor: url("https://cdn.custom-cursor.com/db/19894/color-pixels-wand-cursor.png"), auto;
  background-color: powderblue;
}

h1 {
  color: #CB0FFF;
  font-family: 'Papyrus';
  cursor: url("https://cdn.custom-cursor.com/db/19894/color-pixels-wand-cursor.png"), auto;
}

h2 {
  color: #CB0FFF;
  font-family: 'Papyrus';
  cursor: url("https://cdn.custom-cursor.com/db/19894/color-pixels-wand-cursor.png"), auto;
}

h3 {
  color: #CB0FFF;
  font-family: 'Papyrus';
  cursor: url("https://cdn.custom-cursor.com/db/19894/color-pixels-wand-cursor.png"), auto;
}

.section{
  border-width: 1px;
  border-style: dashed;
  border-color: #CB0FFF;
  border-radius: 12px;
  background-color: floralwhite;
  padding: 15px;
  margin-bottom: 20px;
  cursor: url("https://cdn.custom-cursor.com/db/19894/color-pixels-wand-cursor.png"), auto;
}

.section:hover {
  background-color:blueviolet;
}

