h1, h3 {
  color:black;
  font-family: inter;
  font-weight: normal;
}

h2 {
  color: white;
  font-family: inter;
  font-weight: normal;
}

header {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  clip-path: inset(0px 0px -8px 0px);
  padding: 10px 20px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 28px;
  align-items: center;

}

/* honestly...the style wouldn't work under nav but 
needed a separate 'nav a' title to work */

nav a, nav a:link, nav a:visited {
  color: black;
  text-decoration: none;
  font-family: inter;
}

/* added link and visited because the text defaulted to blue
and underline when i added links */

nav a:hover {
  color:pink;
  text-decoration:underline;
}

body {
  color: black;
  font-family: inter;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
  /* needed to subtract the height of the header;
  the left container was slightly lower than center and 
  that was throwing me off */
}

.left, .right {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.right {
  background-color: gray;
  color: white;
  flex: 1;
}