h1 {
  color: #EF5504;
  font-family: 'Figtree';
  font-size: 80px;
  margin: 0px;
}

h2 {
  color: #EF5504;
  font-family: 'Figtree';
  font-size: 70px;
  font-weight: normal;
  margin: 0px;
}

h3 {
  color: #EF5504;
  font-family: 'Figtree';
  font-size: 30px;
  margin: 0px;
}

body {
  color: #EF5504;
  font-family: 'Figtree';
  background-color: #F8F5E4;
  min-width: 1000px;
  overflow-x: hidden;
}

.lineone, .linetwo {
  width: 100%;
}

.lineone {
    border-top: 10px solid #F7581E;
}

.linetwo { 
    border-top: 6px solid #F8AF8C;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.one, .two {
  padding: 10px, 40px;
  box-sizing: border-box;
}

.one {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.two { 
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

.containertwo {
  display: flex;
  overflow: hidden;
}

.left, .right {
  width: 50%;
}

.left {
  background-color: #F8F5E4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  /* flex: 1; */
  padding: 20px;
  padding-top: 50px;
  width: 50%;
}

.right {
  background-color: #F8F5E4;
  display: flex;
  /* flex: 1; */
  padding: 20px;
  gap: 12px;
  align-items: flex-end;
  width: 50%;
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.rectangleflat {
  height: 40px;
  width: 50px;
  background-color: #AB7255;
}

.rectangle {
  height: 120px;
  width: 50px;
  background-color: #AB7255;
}

.otherow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 280px;
  height: 412px;
}

.rectbig {
  height: 412px;
  width: 300px;
  background-color: #AB7255;
}

.rectstacked {
  flex: 1;
  width: 280px;
  height: 200px;
  background-color: #AB7255;
}

/* test */