h1 {
  color: #EF5504;
  font-family: 'Figtree';
  font-size: 80px;
  margin: 0px;
}

h2 {
  color: #EF5504;
  font-family: 'Figtree';
  font-size: 70px;
  margin: 0px;
}

h3 {
  color: #EF5504;
  font-family: 'Figtree';
  font-size: 30px;
  margin: 0px;
}

body {
  color: #EF5504;
  font-family: 'Figtree';
  background-color: #F8F5E4;
}

.lineone {
    border-top: 10px solid #F7581E;
}

.linetwo { 
    border-top: 6px solid #F8AF8C;
}

.container {
  display: flex;
  flex-direction: column;
}

.one, .two {
  padding: 10px, 40px;
  box-sizing: border-box;
}

.one {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.two { 
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

.containertwo {
  display: flex;
}

.left, .right {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  background-color: #F8F5E4;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.right {
  background-color: #F8F5E4;
  color: #EF5504;
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 12px;
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.rectangleflat {
  height: 40px;
  width: 50px;
  background-color: #AB7255;
  display: inline-block;
}

.rectangle {
  height: 100px;
  width: 50px;
  background-color: #AB7255;
  display: inline-block;
}

.otherow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.rectbig {
  height: 412px;
  width: 200px;
  background-color: #AB7255;
  display: inline-block;
}

.rectstacked {
  height: 200px;
  width: 300px;
  background-color: #AB7255;
  display: inline-block;
}